@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
 margin: 0;
 padding: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
body{
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:top bottom;
  background-attachment: fixed;
  background-image: url("./assets/recipeback.jpg");
}
.nav{

  font-size: 20px;
  color: white;
  line-height: 50px;
  height: 50px;;
  background-color: #e67e22;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:768px) {
  .nav{
    width:100%;
  }
 
}
@media screen and (max-width:375px) {
  .nav{
    font-size: 17px;
  }
  
}
@media screen and (max-width:320px) {
  .nav{
    font-size: 15px;
  }
  
}
.hp{
  /* height: 120vh; */
  padding:40px;
  position: relative;
  top:140px;
  margin: auto;
  width: 900px;
  /* background-color:rgb(9, 8, 8);
color: #ffffff; */
color:black;
background-color: #ffffff;
opacity: 0.6;
}
.hp h1{
 font-size: 40px;
 word-spacing: 10px;
 letter-spacing: 2px;
}
.hp p{
  margin-block: 10px;
  font-size: 20px;
  font-weight: 500;
}
.hpbtn{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f57506;
  color:rgb(252, 246, 246);
border: none;
padding:10px;
font-size: 14px;
font-weight: bold;
cursor: pointer;
/* opacity: 1; */
border-radius: 10px;
}
.hpbtn:hover{
  opacity: 1;
  color:#e67e22;
  box-shadow: 1px 2px 2px 3px #e67e22;
  background-color: white;
}

.quote{
  text-align: center;
  margin-block: 10px;
  font-size: 17px;
  font-weight: bold;
  
}
@media screen and (max-width:1440px) {
  .hp{
    padding:35px;
   width: 800px;
  top:100px;
   }
   
   .hp p{
   margin-block: 5px;
    font-size: 18px;
    font-weight: 500;
  }
   .hpbtn{
    margin-top: 15px;
   }
   
  } 
@media screen and (max-width:1024px) {
  .hp{
    padding:25px;
   width: 800px;
   top:100px;
   }
   
   .hp h1{
    font-size: 30px;
   word-spacing: 5px;
   letter-spacing: 2px;
  }
  .hp p{
    font-size: 18px;
  }
  .hpbtn{
    margin-top: 15px;
   }
   .quote{
    margin-block: 0px;
   }
  } 
  
  @media screen and (max-width:768px) {
    .hp{
      padding:20px;
     width: 650px;
     top:100px;
     }
     
     .hp h1{
      font-size: 30px;
     word-spacing: 3px;
     letter-spacing: 2px;
    }
     .hp p{
      font-size: 16px;
     }
     
    } 
    @media screen and (max-width:425px) {
      .hp{
        top:50px;
        padding:20px;
       width: 300px;
      
       }
       
       .hp h1{
        font-size: 25px;
       word-spacing: 2px;
       letter-spacing: 2px;
      }
      .hp p{
        margin-block: 10px;
        font-size: 17px;
        font-weight: 500;
      }
       
      } 
      @media screen and (max-width:375px) {
        .hp{
          top:50px;
          padding:20px;
         width: 250px;
        
         }
         
         .hp h1{
          font-size: 30px;
         word-spacing: 0px;
         letter-spacing: 1px;
        }
        .hp p{

          margin-block: 8px;
          font-size: 15px;
          font-weight: 500;
        }
         .hpbtn{
          font-size: 12px;
         }
        }
        @media screen and (max-width:320px) {
          .hp{
            width: 210px;
          }
          .hp h1{
            
              font-size: 25px;
             word-spacing: 0px;
             letter-spacing: 1px;
          
          }
          .quote{
            margin-block: 5px;
            font-size: 15px;
          }
        }
.container{

  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
 
}
.csearchbtn{
  margin:20px auto;
display: flex;
gap:55px;
border-radius: 10px;
}
.csearch{
  width: 300px;
  background-color:#f1f2f6;
  /* height: 20px;  */
  border-radius: 6px;
  font-size: 20px;
 
}
@media screen and (max-width:425px) {
  .csearch{
    width: 125px;
  }
}
.mcimg{
  width: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 220px;
  margin:15px 15px 0px 15px;
}


.cbtn{
  border-radius: 6px;
  width: 100px;
  color: white;
  background-color:#e67e22;
  outline: none;
  border: none;
cursor: pointer;
  font-size: 20px;
}
.mmsg{
  width: 700px;
  background-color: white;
  color:red;
  padding:4px;
  margin:4px;
}
.mmr{
  /* background-color: aqua; */
  width: 1250px;
  color:white;
  display: flex;
  flex-wrap: wrap;
   border:2px solid gray;
   gap:30px;
   padding:20px;
  margin-bottom: 20px;
  /* margin: auto; */
   /* height: 370vh; */
}
@media screen and (max-width:1024px) {
  .mmr{
    width:900px;
  }
}
@media screen and (max-width:768px) {
  .mmr{
    width:640px;
  }
}
@media screen and (max-width:425px) {
  .mmr{
    margin: auto;
    width:250px;
  }
}
@media screen and (max-width:325px) {
  .mmr{
    width:250px;
  }
}
.mealcard{
  height: 100vh;
}
.mcard{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: transparent;
  color:black;
  padding:10px;
  /* width: 1200px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content:space-around;  
  /* background-color: white; */
  /* opacity: .9; */
/* margin: 20px auto; */
/* gap:40px; */
/* background-color: aqua; */
}

.boxm{
  background-color: #f1f2f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
/* box-shadow: 2px 2px 3.2px 2px gainsboro; */
}
.boxm:hover{
  box-shadow: .1px .3px 4px 5px #bdc3c7;

}
@media screen and (max-width:425px) {
  .boxm{
    margin-left:-10px;
  }
}
@media screen and (max-width:320px) {
  .boxm{
    margin-left:-7px;
  }
}
.recipeinfo{
  font-weight: bold;
 
  text-align: center;
 

}

.mbtn{
  /* width: 200px; */
  margin: 10px 65px;
  color: white;
 border: none;
 border-radius: 10px;
  background-color: #ff9f1a;
  padding: 0px 30px;
font-weight: bolder;
font-size: 18px;
}
.msg{
  text-align: center;
  width: 100%;
  color: black;
  font-size: 20px;
  background-color: white;
  opacity: .8;
}
.minfo{
  width: 1000px;
  background-color: white;
  color:rgb(14, 13, 13);
  border:1px solid gray;
  margin:  40px auto;
  padding:50px;
  opacity: .92;
}
@media screen and (max-width:1024px) {
  .minfo{
    width: 870px;
  }
}
@media screen and (max-width:768px) {
  .minfo{
    width: 570px;
  }
 
}
@media screen and (max-width:425px) {
  .minfo{
    width: 260px;
  }
 .ytvideo , .headv{
  /* width: 200px; */
  display: none;
 }
}

.infoimage{
  width:300px;
  height: 200px;
}
@media screen and (max-width:375px) {
  .minfo{
    width: 170px;
  }
 .infoimage{
  width:170px ;
 }
}
.logo{
  color: white;
  text-decoration: none;
}
.heads{
  font-weight: bold;
}
.about{
  margin-top: 180px;
  padding:50px;
  margin-inline: auto;
  width: 800px;
  background-color: white;
  color:black;
  opacity: .5;
  
}
@media screen and (max-width:1024px) {
  .about{
    margin-top: 100px;
  }
}
@media screen and (max-width:768px) {
  .about{
    width: 600px;
    margin-top: 80px;
  }
}

.about h1{
  font-weight: bold;
  word-spacing: 10px;
}
.about p{
  margin-top: 20px;
  font-size: 22px;
}
@media screen and (max-width:425px) {
  .about{
    width: 230px;
    padding: 30px;
    margin-top: 50px;
  }
  .about h1{
    font-size: 22px;
    word-spacing: 0px;
  }
  .about p{
    margin-top: 10px;
    font-size: 15px;
  }
}
.footer{

  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e67e22;
}
.aboutmain{
  height: 64vh;
}